<!Doctype html>
<html>
	<head>
		<meta name = "viewport" content = "initial-scale=1.0, user-scalable = no"/>
		<style type = "text/css">
			html {height: 100%}
			body {height: 100%; margin: 0; padding: 0}
			#map_canvas {height: 80%; width: 80% }
		</style>
		<script type = "text/javascript"
			src = "http://maps.google.com/maps/api/js?key={{ GMAPS_API_KEY }}&sensor=false">
		</script>
		<script type="text/javascript">
			var map;
			var state;

			function initialize(){
				var mapOptions = {
					{% if MAP_INFO.clat %}
						center: new google.maps.LatLng({{MAP_INFO.clat}}, {{MAP_INFO.clng}}),
						zoom: {{MAP_INFO.czoom}},
					{% else %}
						center: new google.maps.LatLng(58.39867, 15.57451),
						zoom: 18,
					{% endif %}
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

				google.maps.event.addListener(map, 'click', function(event){
						on_click(event.latLng, "Click: "+event.latLng);
				});
				google.maps.event.addListener(map, 'dragend', function(event){
						onDrag(map);	
				});
				google.maps.event.addListener(map, 'zoom_changed', function(event){
						onZoom(map);	
				});
				var inst_element = document.getElementById('inst');	
				var lat1_element = document.getElementById('lat1');
				var lng1_element = document.getElementById('lng1');
				var lat2_element = document.getElementById('lat2');
				var lng2_element = document.getElementById('lng2');

				var zoom_element = document.getElementById('czoom');
				var clat_element = document.getElementById('clat');
				var clng_element = document.getElementById('clng');

				inst_element.value = "Enter start position";
				lat1_element.value = "unknown";
				lng1_element.value = "unknown";
				lat2_element.value = "unknown";
				lng2_element.value = "unknown";

				zoom_element.value = map.getZoom();
				clat_element.value = map.getCenter().lat().toFixed(4);
				clng_element.value = map.getCenter().lng().toFixed(4);

				displayMarkers(map);
				displayRoads(map);
				displayRoad(map);
			}

			google.maps.event.addDomListener(window, 'load', initialize);
			function on_click(latLng, title){
				
				var inst_element = document.getElementById('inst');	
				var lat1_element = document.getElementById('lat1');
				var lng1_element = document.getElementById('lng1');
				var lat2_element = document.getElementById('lat2');
				var lng2_element = document.getElementById('lng2');

				if (state != 1){
					lat1_element.value = latLng.lat().toFixed(4);	
					lng1_element.value = latLng.lng().toFixed(4);	
					state = 1;
					inst_element.value = "Enter target position";
				}
				else{
					lat2_element.value = latLng.lat().toFixed(4);	
					lng2_element.value = latLng.lng().toFixed(4);	
					state = 0;
					inst_element.value = "Enter start position";
				}
			}

			function onZoom(map){
				var zoom_element = document.getElementById('czoom');
				zoom_element.value = map.getZoom();
			}

			function onDrag(map){
				var clat_element = document.getElementById('clat');
				var clng_element = document.getElementById('clng');
				clat_element.value = map.getCenter().lat().toFixed(4);
				clng_element.value = map.getCenter().lng().toFixed(4);
			}
			function createMarker(map, latlng, title){
				var marker = new google.maps.Marker({
					map: map,
					position: latlng,
					title: title
				});
			}

			function displayMarkers(map) {
				{% for coord in COORDS %}
					createMarker(map, new google.maps.LatLng({{coord.lat}},
				{% endfor %}
			}
			function createPolyline(map, path, color, opac){
				var polyline = new google.maps.Polyline({
					path: path,
					map: map,
					strokeColor: color,
					strokeOpacity: opac,
				});
			}

			function displayRoads(map) {
				{% for road in ROADS %}
					var points = new google.maps.MVCArray();
					{% for node in road %}
						points.push(new google.maps.LatLng({{node.lat}}, {{node.lng}}));
					{% endfor %}
					createPolyline(map, points, "#CC33FF", 0.5);
				{% endfor %}
			}

			
			function displayRoad(map) {
				var points = new google.maps.MVCArray();
				{% for node in SHORTEST_PATH.values %}
					points.push(new google.maps.LatLng({{node.lat}}, {{node.lng}}));
				{% endfor %}
				createPolyline(map, points, "#000000", 1.0);
			}


		</script>
	</head>
	<body>
		<div id="map_canvas"></div>
	</body>
	<form action="" method="post"> {% csrf_token %}
		Zoom: <input type="text" id="czoom" name="czoom" size = 8>
		Lat:  <input type="text" id="clat" name="clat" size = 8>
		Lng:  <input type="text" id="clng" name="clng" size = 8>
		<input type="text" id="inst" name="inst" size = 16><br>
		Lat 1: <input type="text" id="lat1" name="lat1" size = 8>
		Lng 1: <input type="text" id="lng1" name="lng1" size = 8>
		<input type="submit" value="Go"><br>	
		Lat 2: <input type="text" id="lat2" name="lat2" size = 8>
		Lng 2: <input type="text" id="lng2" name="lng2" size = 8>
	</form> 
</html>

